<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="col-6 col-sm-4 col-lg-6" th:each="entity:${randomList}"  th:fragment="itemCard (randomList)">
        <div class="card">
            <div class="card__cover">
                <img th:src="${entity.image}" alt="Item image">
                <a th:href="'/item/'+${entity.id}" class="card__play">
                    <i class="icon ion-ios-play"></i>
                </a>
            </div>
            <div class="card__content">
                <h3 class="card__title"><a th:href="'/item/'+${entity.id}" th:text="${entity.name}">I Dream in Another Language</a></h3>
                <span class="card__category">
                        <a href="#" th:each="genre:${entity.genres}" th:text="${genre.name}">Action</a>
                    </span>
            </div>
        </div>
    </div>
</body>
</html>
