<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>


<!-- header -->
<header class="header" th:fragment="header">
  <div class="header__wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <!-- header logo -->
            <a href="/" class="header__logo">
              <img src="/img/logo.svg" alt="">
            </a>
            <!-- end header logo -->

            <!-- header nav -->
            <ul class="header__nav">
              <li class="header__nav-item">
                <a class="header__nav-link" href="/">Home</a>
              </li>
              <li class="header__nav-item">
                <a href="/item" class="header__nav-link">Catalog</a>
              </li>
              <li class="header__nav-item">
                <a href="/faq" class="header__nav-link">Help</a>
              </li>
              <li class="header__nav-item">
                <a href="/about" class="header__nav-link">About</a>
              </li>
              <li class="header__nav-item" th:if="${#request.userPrincipal != null}">
                <a href="/user/profile" class="header__nav-link">Profile</a>
              </li>
              <li class="header__nav-item" th:if="${#request.isUserInRole('ADMIN')}">
                <a href="/genre" class="header__nav-link">Genres</a>
              </li>
              <li class="header__nav-item" th:if="${#request.isUserInRole('ADMIN')}">
                <a href="/user" class="header__nav-link">Users</a>
              </li>
              <li class="header__nav-item" th:if="${#request.userPrincipal != null}">
                <a href="/logout" class="header__nav-link">Logout</a>
              </li>
            </ul>

            <!-- header auth -->
            <div class="header__auth">
              <button class="header__search-btn" type="button">
                <i class="icon ion-ios-search"></i>
              </button>

              <a href="signin" class="header__sign-in"  th:if="${#request.userPrincipal == null}">
                <i class="icon ion-ios-log-in"></i>
                <span>sign in</span>
              </a>
            </div>
            <!-- end header auth -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header search -->
  <form action="/item/search" method="get" class="header__search">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__search-content">
            <input type="text" placeholder="Search for a movie, TV Series that you are looking for" name="searchPhrase">
            <button type="submit">search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- end header search -->
</header>
<!-- end header -->

</body>
</html>