<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- sidebar -->
<div class="col-12 col-lg-4 col-xl-4" th:fragment="sidebar">
    <div class="row">
        <!-- section title -->
        <div class="col-12">
            <h2 class="section__title section__title--sidebar">You may also like...</h2>
        </div>
        <!-- end section title -->

        <!-- card -->
        <div th:replace="~{/commons/card :: itemCard(randomList=${randomList})}"></div>
        <!-- end card -->

    </div>
</div>
<!-- end sidebar -->
</body>
</html>