<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-12" th:fragment="social">
    <div class="details__wrap">
        <!-- availables -->
        <div class="details__devices">
            <span class="details__devices-title">Available on devices:</span>
            <ul class="details__devices-list">
                <li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
                <li><i class="icon ion-logo-android"></i><span>Android</span></li>
                <li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
                <li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
            </ul>
        </div>
        <!-- end availables -->

        <!-- share -->
        <div class="details__share">
            <span class="details__share-title">Share with friends:</span>

            <ul class="details__share-list">
                <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
            </ul>
        </div>
        <!-- end share -->
    </div>
</div>
</body>
</html>