<!DOCTYPE html>
<html lang="en">

<head>
	<title>Signup</title>
	<div th:replace="~{/commons/head :: head}"></div>

</head>
<body class="body">

	<div class="sign section--bg" data-bg="/img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 th:if="${success != null}" th:text="${success}" class="text-center"></h3>

					<h3 th:if="${#request.getParameter('error') != null and #request.getParameter('error') == 'true'}" class="text-center"></h3>
					<div class="sign__content">
						<!-- registration form -->
						<form action="/registration" class="sign__form" method="post">
							<a href="/" class="sign__logo">
								<img src="/img/logo.svg" alt="">
							</a>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Firstname" name="firstname" required>
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Lastname" name="lastname" required>
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email" name="email" required>
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Username" name="username">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password" name="password" required>
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Image path" name="image">
							</div>
							
							<button class="sign__btn" type="submit">Sign up</button>

							<span class="sign__text">Already have an account? <a href="/login">Sign in!</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{/commons/footer :: footer}"></div>
</body>

</html>