<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Users</title>
    <meta charset="UTF-8">
    <div th:replace="~{/commons/head :: head}"></div>
</head>
<body>
<div th:replace="~{/commons/header :: header}"></div>

<div class="container pt-5 mt-5 section">
    <div class="col-12 content__head">
        <h2 class="content__title d-flex justify-content-center mt-5" style="color: white;">List of Users</h2>
    </div>
    <div class="row justify-content-center" style="color: white;">
        <div class="col-12 col-lg-10 col-xl-10">
            <div class="alert alert-info" th:if="${message != null}" th:text="${message}" role="alert"></div>
            <div class="d-flex justify-content-end mb-3">
                <a th:href="@{/user/edit}" class="filter__btn">Create new User</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entity : ${list}">
                    <td th:text=${entity.username}></td>
                    <td th:text=${entity.firstname}></td>
                    <td th:text=${entity.lastname}></td>
                    <td th:text=${entity.email}></td>
                    <td><img th:src="${entity.image}" alt="User image" style="max-width: 100px; max-height: 100px;"></td>
                    <td class="d-flex">
                        <a th:href="@{/user/{id}(id=${entity.id})}" class="filter__btn mx-2">See detail</a>
                        <a th:href="@{/user/edit/{id}(id=${entity.id})}" class="filter__btn mx-2">Edit</a>
                        <form th:if="${entity.id!=null}" method="get"
                              th:action="'/user/'
                              +${entity.id}+'/delete'" class="d-inline mx-2">
                            <input type="submit" value="Delete" class="filter__btn" onclick="return confirm('Are you sure?')">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
