<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <div th:replace="~{/commons/head :: head}"></div>
</head>
<body>
<div th:replace="~{/commons/header :: header}"></div>

<div class="container pt-5 mt-5 section">
    <div class="col-12 content__head">
        <h2 class="content__title d-flex justify-content-center mt-5">User Profile</h2>
    </div>
    <div class="row justify-content-center" style="color: white; font-size: 25px;">
        <!-- content -->
        <div class="col-10">
            <div class="card card--details card--series">
                <div class="row">
                    <!-- card cover -->
                    <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                        <div class="card__cover">
                            <img th:src="${entity.image}" src="/img/covers/cover.jpg" alt="">
                        </div>
                    </div>
                    <!-- end card cover -->
                    <!-- card content -->
                    <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                        <div class="card__content">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${entity.username}">Username</h5>
                                <p class="card-text">Name: <span th:text="${entity.firstname + ' ' + entity.lastname}">First Last</span></p>
                                <p class="card-text">Email: <span th:text="${entity.email}">example@example.com</span></p>

                                <div class="card-text">
                                    <h6>Favourites Items:</h6>
                                    <ul>
                                        <li th:each="item : ${entity.favouritesItems}" th:text="${item.name}">Item Name</li>
                                    </ul>
                                </div>

                                <div class="card-text">
                                    <h6>Feature Items:</h6>
                                    <ul>
                                        <li th:each="item : ${entity.featureItems}" th:text="${item.name}">Item Name</li>
                                    </ul>
                                </div>

                                <div class="card-text">
                                    <h6>In Progress Items:</h6>
                                    <ul>
                                        <li th:each="item : ${entity.inprogresItems}" th:text="${item.name}">Item Name</li>
                                    </ul>
                                </div>

                                <div class="card-text">
                                    <h6>Watched Items:</h6>
                                    <ul>
                                        <li th:each="item : ${entity.watchedItems}" th:text="${item.name}">Item Name</li>
                                    </ul>
                                </div>

                                <a th:href="'/user/edit/'+${entity.id}" class="filter__btn">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
